# Perdiction of sales

### Problem Statement
The dataset represents sales data for 1559 products across 10 stores in different cities. Also, certain attributes of each product and store are available. The aim is to build a predictive model and find out the sales of each product at a particular store.

|Variable|Description|
|: ------------- |:-------------|
|Item_Identifier|Unique product ID|
|Item_Weight|Weight of product|
|Item_Fat_Content|Whether the product is low fat or not|
|Item_Visibility|The % of total display area of all products in a store allocated to the particular product|
|Item_Type|The category to which the product belongs|
|Item_MRP|Maximum Retail Price (list price) of the product|
|Outlet_Identifier|Unique store ID|
|Outlet_Establishment_Year|The year in which store was established|
|Outlet_Size|The size of the store in terms of ground area covered|
|Outlet_Location_Type|The type of city in which the store is located|
|Outlet_Type|Whether the outlet is just a grocery store or some sort of supermarket|
|Item_Outlet_Sales|Sales of the product in the particulat store. This is the outcome variable to be predicted.|

Please note that the data may have missing values as some stores might not report all the data due to technical glitches. Hence, it will be required to treat them accordingly.



### Explore the problem in following stages:

1. Hypothesis Generation – understanding the problem better by brainstorming possible factors that can impact the outcome
2. Data Exploration – looking at categorical and continuous feature summaries and making inferences about the data.
3. Data Cleaning – imputing missing values in the data and checking for outliers
4. Feature Engineering – modifying existing variables and creating new ones for analysis
5. Model Building – making predictive models on the data

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the data.

data = pd.read_csv("../DS_auticon_week_3/data_feature_engineering_exercise.csv", delimiter=',')

In [3]:
data.shape

(8523, 44)

In [4]:
data.head(10)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales,Item_Weight_missing_ind,Outlet_Size_missing_ind,...,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Identifier_Category_DR,Item_Identifier_Category_FD,Item_Identifier_Category_NC
0,9.300,1,0.016047,249.8092,1999,2,3,3735.1380,0,0,...,0,0,1,0,1,0,0,0,1,0
1,5.920,2,0.019278,48.2692,2009,2,1,443.4228,0,0,...,0,0,0,0,0,1,0,1,0,0
2,17.500,1,0.016760,141.6180,1999,2,3,2097.2700,0,0,...,0,0,1,0,1,0,0,0,1,0
3,19.200,2,0.000000,182.0950,1998,0,1,732.3800,0,1,...,0,0,0,1,0,0,0,0,1,0
4,8.930,0,0.000000,53.8614,1987,3,1,994.7052,0,0,...,0,0,0,0,1,0,0,0,0,1
5,10.395,2,0.000000,51.4008,2009,2,1,556.6088,0,0,...,0,0,0,0,0,1,0,0,1,0
6,13.650,2,0.012741,57.6588,1987,3,1,343.5528,0,0,...,0,0,0,0,1,0,0,0,1,0
7,19.000,1,0.127470,107.7622,1985,2,1,4022.7636,1,0,...,0,0,0,0,0,0,1,0,1,0
8,16.200,2,0.016687,96.9726,2002,0,2,1076.5986,0,1,...,1,0,0,0,1,0,0,0,1,0
9,19.200,2,0.094450,187.8214,2007,0,2,4710.5350,0,1,...,0,0,0,0,1,0,0,0,1,0

In [5]:
# Identify the features X and target variable y.

y = data["Item_Outlet_Sales"]
X = data.drop("Item_Outlet_Sales", axis=1)

In [6]:
X.head(10)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Item_Weight_missing_ind,Outlet_Size_missing_ind,Outlet_Operating_Year,...,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Identifier_Category_DR,Item_Identifier_Category_FD,Item_Identifier_Category_NC
0,9.300,1,0.016047,249.8092,1999,2,3,0,0,21,...,0,0,1,0,1,0,0,0,1,0
1,5.920,2,0.019278,48.2692,2009,2,1,0,0,11,...,0,0,0,0,0,1,0,1,0,0
2,17.500,1,0.016760,141.6180,1999,2,3,0,0,21,...,0,0,1,0,1,0,0,0,1,0
3,19.200,2,0.000000,182.0950,1998,0,1,0,1,22,...,0,0,0,1,0,0,0,0,1,0
4,8.930,0,0.000000,53.8614,1987,3,1,0,0,33,...,0,0,0,0,1,0,0,0,0,1
5,10.395,2,0.000000,51.4008,2009,2,1,0,0,11,...,0,0,0,0,0,1,0,0,1,0
6,13.650,2,0.012741,57.6588,1987,3,1,0,0,33,...,0,0,0,0,1,0,0,0,1,0
7,19.000,1,0.127470,107.7622,1985,2,1,1,0,35,...,0,0,0,0,0,0,1,0,1,0
8,16.200,2,0.016687,96.9726,2002,0,2,0,1,18,...,1,0,0,0,1,0,0,0,1,0
9,19.200,2,0.094450,187.8214,2007,0,2,0,1,13,...,0,0,0,0,1,0,0,0,1,0

In [7]:
y.head(10)

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
5     556.6088
6     343.5528
7    4022.7636
8    1076.5986
9    4710.5350
Name: Item_Outlet_Sales, dtype: float64

We have covered data preparation and feature engineering last week. Now, it's time to do some predictive models.

## Model Building

Its time to start making predictive models.

## Task
Make a baseline model. Baseline model is the one which requires no predictive model and its like an informed guess. For instance, predict the sales as the overall average sales or just zero.
Making baseline models helps in setting a benchmark. If your predictive algorithm is below this, there is something going seriously wrong and you should check your data.

In [8]:
# For the baseline model, we will use the DummyRegressor model from sklearn.

from sklearn.dummy import DummyRegressor

In [9]:
base = DummyRegressor(strategy = 'mean')

## Task
Split your data in 80% train set and 20% test set.

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8,
                                                    test_size=0.2)

In [12]:
print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (6818, 43)
Shape of X_test: (1705, 43)
Shape of y_train: (6818,)
Shape of y_test: (1705,)

## Task
Use grid_search to find the better value of parameter `normalize` for LinearRegression from `sklearn`. Possible values are either True or False.

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV

In [14]:
model = LinearRegression()

In [15]:
param_grid = {'normalize': [False, True]}

In [16]:
grid_search = GridSearchCV(model, param_grid, cv=10, n_jobs=-1)
grid_search.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=LinearRegression(), n_jobs=-1,
             param_grid={'normalize': [False, True]})

In [17]:
grid_search.best_params_

{'normalize': False}

In [18]:
# View the best parameter for the model found using grid search.

print('Best value of normalize:',grid_search.best_params_['normalize'])

Best value of normalize: False

In [19]:
# Note that the default score for the Sklearn LinearRegression 
# model is the R-squared value.

grid_search.best_score_

0.5527612312779786

## Task
Using the model from grid_search, predict the values in the test set and compare again the benchmark.

In [20]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

First, we will fit the baseline model to the training set, 
compute the predicted values, and compute some linear regression metrics.

In [21]:
base.fit(X_train, y_train)

DummyRegressor()

In [22]:
y_base = base.predict(X_test)

In [23]:
y_base

array([2184.38736172, 2184.38736172, 2184.38736172, ..., 2184.38736172,
       2184.38736172, 2184.38736172])

In [24]:
MSE_b = mean_squared_error(y_test, y_base)
RMSE_b = mean_squared_error(y_test, y_base, squared=False)
MAE_b = mean_absolute_error(y_test, y_base)
r2_b = r2_score(y_test, y_base)

In [25]:
# We will also compute the adjusted R-squared value.

n = len(y_test)
p = len(X_test.columns)
adj_r2_b = 1 - ((1 - r2_b) * (n - 1) / (n - p - 1))

In [26]:
print(f"MSE_b : {MSE_b}")
print(f"RMSE_b : {RMSE_b}")
print(f"MAE_b : {MAE_b}")
print(f"r2_b : {r2_b}")
print(f"adj_r2_b : {adj_r2_b}")

MSE_b : 2879783.667869212
RMSE_b : 1696.9925361854755
MAE_b : 1350.4381886221997
r2_b : -8.331073960721191e-05
adj_r2_b : -0.025973486755141995

Now, we will predict the values in the test set using the model from 
grid_search and compute the corresponding metrics.

In [27]:
y_pred = grid_search.predict(X_test)

In [28]:
MSE = mean_squared_error(y_test, y_pred)
RMSE = mean_squared_error(y_test, y_pred, squared=False)
MAE = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [29]:
adj_r2 = 1 - ((1 - r2) * (n - 1) / (n - p - 1))

In [30]:
print(f"MSE : {MSE}")
print(f"RMSE : {RMSE}")
print(f"MAE : {MAE}")
print(f"r2 : {r2}")
print(f"adj_r2 : {adj_r2}")

MSE : 1221211.3874078647
RMSE : 1105.0843349753288
MAE : 825.2367869794721
r2 : 0.5759010855369455
adj_r2 : 0.5649220046688472

In [31]:
grid_search.score(X_test, y_test)

0.5759010855369455

In [32]:
y_pred

array([2096., 1959., 1453., ..., 1377., 3074., 3972.])

By comparing the metrics from both models,  the model from grid_search seems to
be better than the baseline model.

# The following is extra.

I just want to see the difference between the actual and predicted results.

In [33]:
df = pd.DataFrame({"Actual" : y_test, "Baseline" : y_base, 
                    "Predicted" : y_pred})
df.head(10)

         Actual     Baseline  Predicted
1066  2633.9048  2184.387362     2096.0
1244  1540.6612  2184.387362     1959.0
6894  2080.6250  2184.387362     1453.0
3377  1354.2372  2184.387362     2542.0
5082  2782.3782  2184.387362     2121.0
7555  2045.3376  2184.387362     4062.0
2699  3621.9520  2184.387362     3580.0
5903  1470.0864  2184.387362     2074.0
2655  2066.6432  2184.387362     2164.0
229   3101.2964  2184.387362     4299.0

I asked for mentor help because my baseline model was better than the model found using grid search.

On January 19, 2021, I spoke to the mentor Eric Elmoznino.  He went through the exercise with me to find the error.  We kept using grid search with selected columns of X_train to see which columns were causing the problem.  It turned out to be the dummy variables created from the Item_Identifier variable.  He said that since Item_Identifier almost uniquely identifies each row, then the model was overfitting because it remembered the Salesprice associated with the corresponding Item_Identifier instead of using the properties of the item.  If there was a item with a brand new Item_Identifier in the test set, then the model would not know what to do.  I should remove these dummy variables from feature_engineering_exercise.ipynb and then re-do the exercise.

He also said that to make grid search run faster, then I could set cv to 2 or set n_jobs to -1.

While we were going through the exercise, he sent me the following link.  It shows how to filter a dataframe by the datatypes of the columns.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.select_dtypes.html

On Slack, the mentor Eric Elmoznino provided further explanation.

Hey Ryan, just summarizing what we spoke about. The problem is that our model was overfitting using the item identifier column. The item identifier column almost uniquely identifies every row in the training set. Therefore, during training the model just uses this identifier to predict the price. It essentially memorises the mapping between item ID and price, just as if you were given a table of barcodes+prices and memorised it. However, this doesn't generalise to new items that don't appear in the training set, so the model ends up with awful test set performance. Memorising is not learning, which is why the model fails.

In [52]:
X_train.select_dtypes(include=['float']).shape

(6818, 3)

In [54]:
data.select_dtypes(include=['int']).shape

(8523, 1599)

In [79]:
cols = X_train.columns
cols = [c for c in cols if "Item_Identifier" not in c]

In [80]:
cols

['Item_Weight',
 'Item_Fat_Content',
 'Item_Visibility',
 'Item_MRP',
 'Outlet_Establishment_Year',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Item_Weight_missing_ind',
 'Outlet_Size_missing_ind',
 'Outlet_Operating_Year',
 'Item_Type_Baking Goods',
 'Item_Type_Breads',
 'Item_Type_Breakfast',
 'Item_Type_Canned',
 'Item_Type_Dairy',
 'Item_Type_Frozen Foods',
 'Item_Type_Fruits and Vegetables',
 'Item_Type_Hard Drinks',
 'Item_Type_Health and Hygiene',
 'Item_Type_Household',
 'Item_Type_Meat',
 'Item_Type_Others',
 'Item_Type_Seafood',
 'Item_Type_Snack Foods',
 'Item_Type_Soft Drinks',
 'Item_Type_Starchy Foods',
 'Outlet_Identifier_OUT010',
 'Outlet_Identifier_OUT013',
 'Outlet_Identifier_OUT017',
 'Outlet_Identifier_OUT018',
 'Outlet_Identifier_OUT019',
 'Outlet_Identifier_OUT027',
 'Outlet_Identifier_OUT035',
 'Outlet_Identifier_OUT045',
 'Outlet_Identifier_OUT046',
 'Outlet_Identifier_OUT049',
 'Outlet_Type_Grocery Store',
 'Outlet_Type_Supermarket Type1',
 'Outlet_Type_Supermarket Type2',
 'Outlet_Type_Supermarket Type3']

In [85]:
len(cols)

40