In [1]:
# import pandas
import pandas as pd

In [2]:
import numpy as np
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

You can find the data [here](https://drive.google.com/file/d/1WvCUF4A4IVsF6chbqTJ3qEjtDwAmyJCM/view?usp=sharing).

In [3]:
# load data
df = pd.read_csv('salary_data.csv')

In [4]:
df.shape

(30, 2)

In [5]:
df.dtypes

YearsExperience    float64
Salary             float64
dtype: object

In [6]:
df.head(10)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0
5              2.9  56642.0
6              3.0  60150.0
7              3.2  54445.0
8              3.2  64445.0
9              3.7  57189.0

In [7]:
# create X,y
X = df['YearsExperience']
y = df['Salary']

In [8]:
X.shape, y.shape

((30,), (30,))

In [9]:
# X and y need to be 2-D arrays to create the linear models for the Task.
# We will convert them from series to dataframes and that should fix that.

In [10]:
X.to_frame()

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [11]:
X = (X.to_frame())

In [12]:
X

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [13]:
y = (y.to_frame())

In [14]:
y

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [15]:
X.shape, y.shape

((30, 1), (30, 1))

## Task
Create the linear regression model which predicts Salary using variable YearsExperience. 

- Use both sklear and statsmodel.
- Are the computed coeficients same?

1) First, we will use sklearn to create the linear regression model.

In [16]:
regressor = LinearRegression()
regressor.fit(X, y)

LinearRegression()

In [17]:
print(regressor.coef_)

[[9449.96232146]]

In [18]:
print(regressor.intercept_)

[25792.20019867]

In [19]:
regressor.score(X,y)

0.9569566641435086

2) Now, we will use statsmodel to create the linear regression model.

In [20]:
X = sm.add_constant(X) # adding a constant

In [21]:
X

    const  YearsExperience
0     1.0              1.1
1     1.0              1.3
2     1.0              1.5
3     1.0              2.0
4     1.0              2.2
5     1.0              2.9
6     1.0              3.0
7     1.0              3.2
8     1.0              3.2
9     1.0              3.7
10    1.0              3.9
11    1.0              4.0
12    1.0              4.0
13    1.0              4.1
14    1.0              4.5
15    1.0              4.9
16    1.0              5.1
17    1.0              5.3
18    1.0              5.9
19    1.0              6.0
20    1.0              6.8
21    1.0              7.1
22    1.0              7.9
23    1.0              8.2
24    1.0              8.7
25    1.0              9.0
26    1.0              9.5
27    1.0              9.6
28    1.0             10.3
29    1.0             10.5

In [22]:
lin_reg = sm.OLS(y,X)

In [23]:
model = lin_reg.fit()
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.957
Model:                            OLS   Adj. R-squared:                  0.955
Method:                 Least Squares   F-statistic:                     622.5
Date:                Wed, 06 Jan 2021   Prob (F-statistic):           1.14e-20
Time:                        14:38:36   Log-Likelihood:                -301.44
No. Observations:                  30   AIC:                             606.9
Df Residuals:                      28   BIC:                             609.7
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const            2.579e+04   2273.053     11.347      0.000    2.11e+04    3.04e+04
YearsExperience  9449.9623    378.755     24.950      0.000    8674.119    1.02e+04
==============================================================================
Omnibus:                        2.140   Durbin-Watson:                   1.648
Prob(Omnibus):                  0.343   Jarque-Bera (JB):                1.569
Skew:                           0.363   Prob(JB):                        0.456
Kurtosis:                       2.147   Cond. No.                         13.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [24]:
model.params

const              25792.200199
YearsExperience     9449.962321
dtype: float64

In [25]:
model.params["YearsExperience"]

9449.962321455077

3) Now, we will determine if the computed coeficients are the same.

In [26]:
coeffs1 = np.array([regressor.intercept_[0], regressor.coef_[0][0]])
coeffs1

array([25792.20019867,  9449.96232146])

In [27]:
coeffs2 = model.params.to_numpy()
coeffs2

array([25792.20019867,  9449.96232146])

In [28]:
np.array_equal(coeffs1, coeffs2)

False

In [29]:
coeffs1[0]

25792.20019866871

In [30]:
coeffs2[0]

25792.200198668703

In [31]:
coeffs1[1], coeffs2[1]

(9449.962321455074, 9449.962321455077)

Yes, the computed coefficients are the same but it is only up to a certain 
decimal place for each coefficent respectively.  
Since these are all approximations, then I think that it is okay to consider 
the computed coefficients to be the same.

# The following is extra.

I just want to see the difference between the actual and predicted results.

In [32]:
predictions = model.predict(X)

In [33]:
df2 = pd.DataFrame({"Actual" : df['Salary'], "Predicted" : predictions})

df2

      Actual      Predicted
0    39343.0   36187.158752
1    46205.0   38077.151217
2    37731.0   39967.143681
3    43525.0   44692.124842
4    39891.0   46582.117306
5    56642.0   53197.090931
6    60150.0   54142.087163
7    54445.0   56032.079627
8    64445.0   56032.079627
9    57189.0   60757.060788
10   63218.0   62647.053252
11   55794.0   63592.049484
12   56957.0   63592.049484
13   57081.0   64537.045717
14   61111.0   68317.030645
15   67938.0   72097.015574
16   66029.0   73987.008038
17   83088.0   75877.000502
18   81363.0   81546.977895
19   93940.0   82491.974127
20   91738.0   90051.943985
21   98273.0   92886.932681
22  101302.0  100446.902538
23  113812.0  103281.891235
24  109431.0  108006.872395
25  105582.0  110841.861092
26  116969.0  115566.842252
27  112635.0  116511.838485
28  122391.0  123126.812110
29  121872.0  125016.804574