In [1]:
from pandas import DataFrame
import statsmodels.api as sm

Stock_Market = {'Year': [2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016],
                'Month': [12, 11,10,9,8,7,6,5,4,3,2,1,12,11,10,9,8,7,6,5,4,3,2,1],
                'Interest_Rate': [2.75,2.5,2.5,2.5,2.5,2.5,2.5,2.25,2.25,2.25,2,2,2,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75],
                'Unemployment_Rate': [5.3,5.3,5.3,5.3,5.4,5.6,5.5,5.5,5.5,5.6,5.7,5.9,6,5.9,5.8,6.1,6.2,6.1,6.1,6.1,5.9,6.2,6.2,6.1],
                'Stock_Index_Price': [1464,1394,1357,1293,1256,1254,1234,1195,1159,1167,1130,1075,1047,965,943,958,971,949,884,866,876,822,704,719]        
                }

df = DataFrame(Stock_Market,columns=['Year','Month','Interest_Rate','Unemployment_Rate','Stock_Index_Price']) 

X = df[['Interest_Rate','Unemployment_Rate']] # here we have 2 variables for the multiple linear regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example
Y = df['Stock_Index_Price']

X = sm.add_constant(X) # adding a constant

model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:      Stock_Index_Price   R-squared:                       0.898
Model:                            OLS   Adj. R-squared:                  0.888
Method:                 Least Squares   F-statistic:                     92.07
Date:                Tue, 05 Jan 2021   Prob (F-statistic):           4.04e-11
Time:                        14:38:11   Log-Likelihood:                -134.61
No. Observations:                  24   AIC:                             275.2
Df Residuals:                      21   BIC:                             278.8
Df Model:                           2
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const              1798.4040    899.248      2.000      0.059     -71.685    3668.493
Interest_Rate       345.5401    111.367      3.103      0.005     113.940     577.140
Unemployment_Rate  -250.1466    117.950     -2.121      0.046    -495.437      -4.856
==============================================================================
Omnibus:                        2.691   Durbin-Watson:                   0.530
Prob(Omnibus):                  0.260   Jarque-Bera (JB):                1.551
Skew:                          -0.612   Prob(JB):                        0.461
Kurtosis:                       3.226   Cond. No.                         394.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [2]:
X

    const  Interest_Rate  Unemployment_Rate
0     1.0           2.75                5.3
1     1.0           2.50                5.3
2     1.0           2.50                5.3
3     1.0           2.50                5.3
4     1.0           2.50                5.4
5     1.0           2.50                5.6
6     1.0           2.50                5.5
7     1.0           2.25                5.5
8     1.0           2.25                5.5
9     1.0           2.25                5.6
10    1.0           2.00                5.7
11    1.0           2.00                5.9
12    1.0           2.00                6.0
13    1.0           1.75                5.9
14    1.0           1.75                5.8
15    1.0           1.75                6.1
16    1.0           1.75                6.2
17    1.0           1.75                6.1
18    1.0           1.75                6.1
19    1.0           1.75                6.1
20    1.0           1.75                5.9
21    1.0           1.75                6.2
22    1.0           1.75                6.2
23    1.0           1.75                6.1

In [3]:
model

In [4]:
predictions

0     1422.862389
1     1336.477367
2     1336.477367
3     1336.477367
4     1311.462710
5     1261.433395
6     1286.448053
7     1200.063031
8     1200.063031
9     1175.048374
10    1063.648695
11    1013.619381
12     988.604723
13     927.234359
14     952.249016
15     877.205045
16     852.190387
17     877.205045
18     877.205045
19     877.205045
20     927.234359
21     852.190387
22     852.190387
23     877.205045
dtype: float64

In [5]:
df2 = DataFrame({"Actual" : Y, "Predicted" : predictions})

df2

    Actual    Predicted
0     1464  1422.862389
1     1394  1336.477367
2     1357  1336.477367
3     1293  1336.477367
4     1256  1311.462710
5     1254  1261.433395
6     1234  1286.448053
7     1195  1200.063031
8     1159  1200.063031
9     1167  1175.048374
10    1130  1063.648695
11    1075  1013.619381
12    1047   988.604723
13     965   927.234359
14     943   952.249016
15     958   877.205045
16     971   852.190387
17     949   877.205045
18     884   877.205045
19     866   877.205045
20     876   927.234359
21     822   852.190387
22     704   852.190387
23     719   877.205045